#!/usr/bin/env bash
set -euo pipefail

echo "MongoDB migration script"
read -p "Does all services are stopped ? [y/N]: " response
case $response in
    [yY][eE][sS]|[yY])
    ;;
*)
    exit 1
;;
esac

read -p "Source MongoDB SRV Host: " sourceHost
read -p "Source MongoDB backup username: " username
read -p "Source MongoDB backup password: " password
read -p "Name of the database to migrate from: " dbName
read -p "Name of the database to migrate to: " dbNameTarget

sourceUri="mongodb+srv://${username}:${password}@${sourceHost}/?tls=true"
targetUri="mongodb+srv://root:{{vault[env_type].root}}@{{ cluster_dns }}/?tls=true"

SECONDS=0
mongodump --ssl --uri="${sourceUri}" --db="${dbName}" --archive --authenticationDatabase=admin | mongorestore --archive --nsInclude="${dbName}.*" --nsFrom="${dbName}.*" --nsTo="${dbNameTarget}.*" --uri="${targetUri}" --drop
echo "Elapsed Time: $SECONDS seconds"
