#!/usr/bin/env bash

set -euo pipefail

# Connect to the local mongodb instance directly

mongosh "mongodb://{{ dns_name }}:27017" --tls --tlsCAFile /mnt/data/mongodb-ca.pem -u root -password {{ root }} --authenticationDatabase admin
