#!/usr/bin/env bash

set -euo pipefail

# Connect to the replica set as root to register our new member
mongosh "mongodb+srv://root:{{vault[env_type].root}}@{{ cluster_dns }}/?tls=true" < /opt/app/configs/mongodb/register_member.js
