---

- name: Install s3cmd package
  ansible.builtin.apt:
    name: s3cmd
    state: latest
    update_cache: yes

- name: Configure s3cmd
  ansible.builtin.template:
    src: "{{ playbook_dir }}/../files/configs/s3cmd/s3cfg.template.jinja2"
    dest: "/root/.s3cfg"
    owner: root
    group: root
    mode: 0700

- include_tasks: ./_ensure_s3_bucket.yml
  vars:
    bucket_name: "{{ dns_name }}-backups"
    profile: mongodb

- name: Add cron to backup DB daily
  ansible.builtin.cron:
    name: "backup-database"
    minute: "0"
    hour: "7"
    job: "bash /opt/app/scripts/backup-database.sh >> /var/log/cron.log 2>&1; /opt/app/tools/monitoring/export-cron-status-prom.sh -c 'Backup database' -v $?"
  when: backup_enable | default(false) | bool
