---
- name: "Import the public key used by the package management system"
  get_url:
    url: "https://www.mongodb.org/static/pgp/server-8.0.asc"
    dest: /etc/apt/keyrings/mongodb-server-8.0.asc

- name: "Create a list file for MongoDB"
  apt_repository:
    repo: "deb [ arch=amd64,arm64 signed-by=/etc/apt/keyrings/mongodb-server-8.0.asc ] https://repo.mongodb.org/apt/ubuntu noble/mongodb-org/8.0 multiverse"
    state: present

- name: Install MongoDB package
  apt:
    name: mongodb-org
    state: present
    update_cache: yes

- name: "Setup numactl"
  include_tasks: ./tweaks/numa.yml

- name: "Setup ulimit"
  include_tasks: ./tweaks/ulimit.yml

- name: "Setup Network"
  include_tasks: ./tweaks/network.yml

- name: "Create log directory"
  ansible.builtin.file:
    path: "/var/log/mongodb"
    state: directory
    mode: "0700"
    owner: mongodb
    recurse: yes

- name: "Create log file"
  ansible.builtin.file:
    path: "/var/log/mongodb/mongod.log"
    state: touch
    mode: "0600"
    owner: mongodb
    group: mongodb
