net:
  bindIpAll: true
  tls:
    mode: requireTLS
    certificateKeyFile: /mnt/data/mongodb.pem
    disabledProtocols: TLS1_0,TLS1_1
    allowConnectionsWithoutCertificates: true

systemLog:
  path: /var/log/mongodb/mongod.log
  logAppend: true
  logRotate: reopen
  destination: file

operationProfiling:
  mode: slowOp
  slowOpThresholdMs: 500

setParameter:
  tlsUseSystemCA: true

security:
  keyFile: /mnt/data/keyfile
  authorization: enabled
  javascriptEnabled: false
  
storage:
  dbPath: /mnt/data/db
  directoryPerDB: true
  oplogMinRetentionHours: 72
  
replication:
  replSetName: rs-{{ env_type }}
